version: '3.8'

services:
  nfenergylogger:
    image: ghcr.io/yanorei32/nf-energy-logger:latest@sha256:9a27a9f0cb7dd199853719f1683ca165c1f9b0b538f3383aa38f0c5ea8b54771
    hostname: nfenergylogger
    container_name: nfenergylogger__nfenergylogger
    restart: unless-stopped

    environment:
      NF_HOST: 192.168.179.2
      INFL_HOST: https://influxdb.yr32.net
      INFL_TOKEN: ${INFL_TOKEN}
      INFL_ORG: default
      INFL_BUCKET: power

    command: /usr/bin/nf-energy-logger run

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

networks:
  default:
    name: nfenergylogger__default
