version: '3.8'

services:
  nfenergylogger:
    image: ghcr.io/yanorei32/nf-energy-logger:latest@sha256:62c9fc7f4ae4a0c3946cad755de4c269bfb0819458d220e19d67de8254d5f8b8
    hostname: nfenergylogger
    container_name: nfenergylogger__nfenergylogger
    restart: unless-stopped

    environment:
      NF_HOST: 192.168.179.2
      INFL_HOST: https://influxdb.yr32.net
      INFL_TOKEN: ${INFL_TOKEN}
      INFL_ORG: default
      INFL_BUCKET: power

    command: /usr/bin/nf-energy-logger run

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

networks:
  default:
    name: nfenergylogger__default
